#projects {
    padding-top: 5%;
    padding-bottom: 100%;
}

.projects-header {
    font-family: 'Josefin';
    color: var(--primary-color);
}

.projects-header h1 {
    display: flex;
    justify-content: center;
    font-size: 350%;
}

.projects-header h2 {
    display: flex;
    justify-content: center;
    font-size: 135%;
}