.about-header {
    padding-bottom: 12.5%;
} 

.about-h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Josefin';
    font-size: 350%;
}

.about-h3 {
    display: flex;
    justify-content: center;
    font-family: 'Josefin';
    font-size: 125%;
}

