#about {
    padding-bottom: 30%;
}

.about-h1 {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: 'Josefin';
    font-size: 350%;
}

.about-h3 {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: 'Josefin';
    font-size: 125%;
    padding-bottom: 2%;
}

.about-h2 {
    font-family: 'Roboto Mono Reg';
    font-weight: bold;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: 25.5% 50%;
    gap: 15;
}


.container img {
    position: relative;
    width: 350%;
    border-radius: 2rem;
    margin-top: -9rem;
    margin-left: 16rem;
    overflow: hidden;
    transform: rotate(-20deg);
    transition: var(--transition)
}

.container img:hover {
    transform: rotate(0);
}

.about-cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 4%;
    margin-top: -50%;
    margin-right: 1%;
}

.about-card {
    background: var(--primary-color-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    text-align: center;
    transition: var(--transition);
    backdrop-filter: blur(20px);
}

.about-cont_content .about-card-academic {
    padding: 2rem 0.75rem;
}

.about-cont_content .about-card-coop {
    padding: 2rem 0.5rem;
}


.about-card:hover {
    background: transparent;
    border-color: var(--primary-color);
    cursor: default;
}

.about-icon {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.about-card small {
    font-family: 'Inter Thin';
    font-size: 0.85rem;
    color: var(--color-white)
}

.paragraph-1 {
    font-family: 'Roboto Condensed';
    font-size: 110%;
    margin: -28.5% 5% 17% 50%;
    text-align: justify;
    color: white;
}

.paragraph-2 {
    color: rgb(201, 201, 201);
    font-family: 'Roboto Condensed';
    font-size: 110%;
    margin: -15% 5% 17% 50%;
    text-align: justify;
}

.paragraph-3 {
    color: rgb(160, 160, 160);
    font-family: 'Roboto Condensed';
    font-size: 110%;
    margin: -15% 5% 17% 50%;
    text-align: justify;
}

/* tablet */
@media screen and (max-width: 1024px) {
    .about-cont {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__cards {
        margin: 1.5rem;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* phone */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        margin: 1.5rem;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
