header {
  color: white;
  padding: 5% 0 70%;
}

.header-cont h1, .header-cont h2, .header-cont h3 {
  display: flex;
  justify-content: center;
}

.header-cont h1 {
  font-size: 350%;
  font-family: 'Josefin';
}

.header-cont h2 {
  font-family: 'Inter Thin';
  font-size: 110%;
}

.header-cont h3 {
  font-family: 'Josefin';
  font-size: 135%;
}

.CTA, .socials{
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.CTA a {
  font-family: 'Roboto Condensed';
  font-size: 85%;
}

.CTA .resume-el {
  padding: 0.6rem 1.9rem;
}

.socials .socials-btn {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed';
  padding: 0.6rem 1.9rem;
  font-size: 85%;
}
