nav {
    display: flex;
    position: fixed;
    background: rgba(100, 100, 100, 0.75);
    padding: 0.7rem 2rem;
    transform: translateX(-50%);
    bottom: 3.5rem;
    left: 50%;
    gap: 1rem;
    border-radius: 2rem;

}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 100%;
    display: flex;
    color: var(--color-light);
    font-size: 1.2rem;
}

nav a:hover {
    background: rgba(184, 184, 184, 0.95);
} 


nav a.active {
    background: rgba(184, 184, 184, 0.95);
    color: var(--color-white);
}