:root {
  --color-white: white;
  --color-black: black;

}

body {
  background: linear-gradient(45deg, #032444, #02234D, #030d2b, #000000, #0e0404, #430f50 );
  animation: movinggradient 5s ease infinite;
  background-size: 200%;
}


